/* This file is for your main application css. */

@import "./phoenix.css";

#board ul {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

#board ul > li {
  width: 10%;
  margin: 0;
  display: block;
  border: 1px solid #f7f7f7;
}

#board ul > li::after {
  content: '';
  display: block;
  width: 100%;
  padding-top: 100%;
}

#board ul > li.snake {
  background: #333;
}

#board ul > li.apple {
  background: #f00;
}
